<div class="container">
  <h1>URL Shortner!</h1>


  <%= form_for @url do |f| %>
  	<%= f.text_field :long_url %>
  	<%= f.submit "Create Short URL" %>
  <% end %>

<!--   <form method='post' action='/urls'>
    Cool URL: <INPUT type="word" name='long_url' placeholder='long url'><br><br>

    <button>Submit Cool URL!</button>
    <br> -->
   <%if @url.errors.full_messages.any? %>
     <%= @url.errors.messages[:long_url][0] %>
   <% end %>
<!--   </form> -->
</div>